@model MobileBarkodOkuma.Models.BarcodeViewModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>



<head>
    <title>Mobil Barkod Okuma - Ürün Bilgisi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/assets/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }

    </style>
</head>
<body>




    <div class="limiter">
        <div class="container-login100" style="background-image: url('/assets/images/bg-01.jpg');">
            <div class="wrap-login100">

                <div class="limiter">
                    
                        <div id="make-3D-space">
                            <div id="product-card">
                                <div id="product-front">
                                    <div class="shadow"></div>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="" class="responsive" />
                                    <div class="image_overlay"></div>
                                    <div id="view_details"> @Html.DisplayFor(model => model.Row.Barcode)</div>
                                    <div class="stats">
                                        <div class="stats-container">
                                            <span class="product_price">@Model.Row.Lastprice</span>
                                            <span class="product_name">  @Model.Row.Spricecurrency</span>

                                            <div class="product-options">
                                                <strong>  @Model.Row.Mameti</strong>
                                                <span> @Model.Row.Oran</span>
                                                <strong>   @Model.Row.Costcurrency</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>
